<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Communicator</title>
<link href="css/communicate.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="Communicator">
	<div ng-controller="MainCtrl">
		<div class="main-container">
			<div class="participant-list" ng-cloak>
				<a style="float: right; padding: 5px" href="/logout">Close</a>
				<h2 class="participant-list-header">Participants</h2>
				<input ng-model="participantFilter" class="participant-filter"
					placeholder="Search Participants.." />
				<div ng-repeat="participant in participants" class="participant"
					ng-class="participant==selectedParticipant?'active':''"
					ng-click="$parent.showChat(participant)"
					ng-hide="participantFilter && participant.toLowerCase().indexOf(participantFilter.toLowerCase())==-1">
					<span ng-bind-html="participant | highlight:participantFilter"></span>
					<div class="badge" ng-show="unreadCount[participant]>0">{{unreadCount[participant]}}</div>
				</div>

			</div>
			<div class="chat-container" ng-show="selectedParticipant" ng-cloak>
				<h2 class="participant-list-header">{{selectedParticipant}}</h2>
				<div class="chat-messages" id="messages-box">
					<div ng-repeat="message in messages[selectedParticipant]"
						align="{{message.own?'right':''}}">
						<div class="chat-message">
							<span>{{message.message}}</span>

						</div>
						<div class="chat-time">
							<span>{{message.time | date:'shortTime'}}</span>
						</div>
					</div>
				</div>
				<div class="chat-input">
					<form ng-submit="sendMessage()">
						<input type="text" ng-model="message" class="input-box"
							id="chat-input" placeholder="Type your message"
							autocomplete="off" autofocus="autofocus"></input>
						<button type="submit" class="submit-btn"
							ng-disabled="!message || message==''" style="display: none">Send!</button>
					</form>
				</div>
			</div>
			<div class="chat-container" ng-hide="selectedParticipant">
				<div class="no-selection-message">
					<span>Select a participant on the left to begin conversing!</span><br />
					<br /> <br /> <span>You can even talk to yourself if you
						are bored!</span>
				</div>
			</div>
		</div>
	</div>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-sanitize.min.js"></script>
	<script src="lib/sockjs/sockjs.min.js"></script>
	<script src="lib/stomp/stomp.min.js"></script>
	<script src="js/communicate.js"></script>

</body>

</html>